@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Della+Respira&family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Pacifico&family=Pangolin&family=Playfair:wght@300&family=Roboto:ital,wght@0,400;0,700;1,300&family=VT323&display=swap');

* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair', sans-serif;
}

html {
    scroll-behavior: smooth;
  }
  
  a {
    text-decoration: none;
    color: #e6700f;
  }
  
  button {
    cursor: pointer;
  }

  .title {
    font-size: 40px;
    margin-top: 24px;
    text-align: center;
    color: #e6700f;
  }
  
  .subtitle {
    color: #e6700f;
  }
  
  .anime__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .anime {
    width: 25%;
    padding: 16px;
  }
  
  .anime__name {
    color: #e6700f;
    font-size: 18px;
  }
  
  .anime__img--wrapper {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 8px;
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
    max-height: 380px;
  }

  .anime__img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition: all 300ms ease;
  }
  
  .anime:hover .anime__img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(1.2);
  }

  .anime-card {
    display: flex;
    transition: 0.3s;
    border-radius: 10px;
    padding: 0 36px 28px 36px;
  }

  .anime__card--img {
    height: 380px; 
    object-fit: cover;
    transition: all 300ms ease;
    cursor: pointer;
    border-radius: 4px;
    max-width: 248px;
    cursor: pointer;
  }
  
  .anime__card--img-wrapper {
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .anime__card--img:hover {
    transform: scale(1.03);
  }

  .anime-card__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .no-wrap {
    white-space: nowrap; 
    overflow: hidden; 
    max-width: 250px; 
  }

  .anime-title {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
    display: flex;
    color: #e6700f;
  }

  .container {
    padding: 24px 24px;
  }

  .p__container {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .skeleton {
    margin-bottom: 8px;
  }
  
  .anime__card--skeleton {
    width: 245px;
    height: 390px;
    margin-bottom: 12px;
    border-radius: 4px;
  }

  .anime__title--skeleton {
    height: 21px;
    width: 100%;
    max-width: 150px;
  }
  
  .anime__rank--skeleton {
    width: 100px;
    height: 19px;
  }
  
  .anime__score--skeleton {
    width: 200px;
    height: 19px;
  }
  
  .anime__year--skeleton {
    width: 200px;
    height: 19px;
  }

  .anime--selected--skeleton {
    width: 400px;
    height: 600px;
    border-radius: 4px;
  }
  
  .anime__selected--container {
    width: 40%;
  }
  
  .anime__description--container {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  
  .anime__selected--img {
    width: 100%;
    height: 550px;
  }
  
  .anime__title--style {
    font-weight: 700;
    word-spacing: 5px;
    font-size: 32px;
    padding-bottom: 1px;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .anime__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 20px;
  }

  .anime__synopsis {
    padding-top: 12px;
    font-size: 18px;
    color: #e6700f;
    max-width: 1200px;
  }

  .anime__body {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .anime__container {
    padding: 36px 0;
  }
  
  .anime__selected--top {
    display: flex;
    align-items: center;
  }
  
  .anime__selected {
    display: flex;
    padding: 32px;
  }
  
  .anime__link {
    height: 32px;
    width: 32px;
    color: #e6700f;
    display: flex;
    align-items: center;
    padding: 0 12px;
  }
  .anime__description {
    color: #e6700f;
  }
  
  .anime__selected--img-wrapper {
    display: flex;
    padding-top: 3px;
  }
  
  .anime__selected--img-wrapper-style {
    transition: all 300ms ease;
  }
  .anime__selected--img-wrapper-style:hover {
    transform: scale(1.03);
    object-fit: cover; /* Add this line to ensure images fill the container without distortion */
  }
  
  .anime__selected--subtitle {
    padding: 1px 0;
    color: #e6700f;
    font-weight: 600;
  }

  .anime__recommended {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .anime__recommended--style {
    padding-top: 48px;
  }
  
  .video-container {
    position: relative;
    padding-top: 6px;
    width: 100%;
  }

  .row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .link__hover {
    position: relative;
    
  }
  
  .link__hover::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    bottom: -3px;
    right: 0;
    transition: all 400ms ease;
    background-color: #e78e45;
  }

  .link__hover:hover::after {
    width: 100%;
    left: 0;
  }
  
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e6700f;
    font-size: 40px;
  }
  
  .fa-spinner {
    animation: rotate 800ms infinite linear;
    display: none !important;
  }

  .loading .fa-spinner {
    display: block !important;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


  /* navigation */

  nav {
    background-color: #eff2f7;
    height: 100px;
    padding: 0px 24px;
    display: flex;
    align-items: center;
  }
  
  .nav__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__logo--wrapper {
    max-width: 75px;
    display: flex;
    justify-content: space-around;
  }

  .nav__logo {
    width: 100%;
    height: 48px;
    width: 144px;
    
  }
  
  .nav__link--list {
    display: flex;
  }
  
  .nav__link {
    margin-left: 24px;
  }
  
  .nav__link--anchor {
    color: #e6700f;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* header */

  .header__container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header__img--wrapper {
    width: 100%;
    max-width: 1200px;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .header__img {
    width: 100%;
    transform: scale(1.1);
  }

  /* search */

  .search 
  {
    width: 45px;
    height: 65px;
  }

  .chibi 
  {
    width: 80px;
    height: 60px;
  }

  .search__form {
    display: flex;
    align-items: center;
  }
  
  .search__box  {
    padding: 20px 80px 20px 20px;
    border: 2px solid #e6700f;
    border-radius: 40px;
    margin-right: 16px;
    font-size: 18px;
    
  }
  
  .search__button {
    border: none;
    background-color: #ffffff;
    
  }
  
  .search__button--icon {
    font-size: 20px;
  }

  .fa-searchengin 
  {
    font-size: 30px;
  }



  /* results */

  .results__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #filter {
    font-size: 16px;
    border-radius: 8px;
    padding: 4px 4px;
    border-color: #e6700f;
  }

  #filter__container {
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid #c7cfe2;
    color: #e6700f;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 16px;
    width: 100%;
    max-width: 200px;
  }
  
  .filter__result--text {
    font-size: 28px;
    color: white;
  }
  
  .filter__result--year {
    font-size: 28px;
    color: #e6700f;
  }


  /* footer */

  footer {
    background-color: #eff2f7;
    position: relative;
  }
  
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer__logo--wrapper {
    width: 75px;
  }
  
  .footer__logo {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer__link--list {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .footer__link--anchor {
    color: #b8590c;
    font-size: 18px;
  }
  
  .footer__copyright {
    color: #c9610c;
  }

  /* for phone viewing */

  @media (max-width: 1024px) {
    .anime {
      width: 40%;
    }
  
    .anime__img--wrapper {
      max-height: 500px;
    }
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 32px;
    }
  
    .search__form {
      justify-content: center;
    }
  }

  @media (max-width: 550px) {
    .anime {
      width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    .nav__link {
      display: none;
    }
    .nav__logo 
    {
      width: 120px;
      height: 20px;
    }
  
    .nav__link:nth-child(1) {
      display: block;
    }
  
    .header__container {
      padding: 20px;
    }
  
    .search__box {
      padding-right: 20px;
    }
  
    .results__header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .footer__link--list {
      display: none;
    }
  }
  
  