@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Della+Respira&family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Pacifico&family=Pangolin&family=Playfair:wght@300&family=Roboto:ital,wght@0,400;0,700;1,300&family=VT323&display=swap');

* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair', sans-serif;
}

html {
    scroll-behavior: smooth;
  }
  
  a {
    text-decoration: none;
    color: #e6700f;
  }
  
  button {
    cursor: pointer;
  }

  .title {
    font-size: 40px;
    margin-top: 24px;
    text-align: center;
    color: #e6700f;
  }
  
  .subtitle {
    color: #e6700f;
  }
  
  .anime__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  
  .container {
    padding: 24px 24px;
  }

  .row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .link__hover {
    position: relative;
    
  }
  
  .link__hover::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    bottom: -3px;
    right: 0;
    transition: all 400ms ease;
    background-color: #e78e45;
  }

  .link__hover:hover::after {
    width: 100%;
    left: 0;
  }
  
  

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


  /* navigation */

  
 

  /* search */

  .search 
  {
    width: 45px;
    height: 65px;
  }

  .chibi 
  {
    width: 80px;
    height: 60px;
  }

 

  .fa-searchengin 
  {
    font-size: 30px;
  }


  /* results */

  

  
 

  /* for phone viewing */

  @media (max-width: 1024px) {
    .anime {
      width: 40%;
    }
  
    .anime__img--wrapper {
      max-height: 500px;
    }
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 32px;
    }
  
    .search__form {
      justify-content: center;
    }
  }

  @media (max-width: 550px) {
    .anime {
      width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    .nav__link {
      display: none;
    }
    .nav__logo 
    {
      width: 120px;
      height: 20px;
    }
  
    .nav__link:nth-child(1) {
      display: block;
    }
  
    .header__container {
      padding: 20px;
    }
  
    .search__box {
      padding-right: 20px;
    }
  
    .results__header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .footer__link--list {
      display: none;
    }
  }
  
  